body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*#navbar li.active a {
    color: rgb(170, 63, 85);
}*/

#ingredients dt {
 text-align: left;   
}

#detail div {
    padding : 0px;
}

div#recette {
    padding: 10px;
}

