body {
  padding-top: 50px;
    font-family: Raleway,serif;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*#navbar li.active a {
    color: rgb(170, 63, 85);
}*/

#navbar {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       text-transform: uppercase;
}

h2 {
    font-size: 21px;   
    padding: 20px 15px;
    margin: 0px;
    text-transform: uppercase;
}

h3 {
    padding:10px;
    margin: 0px;
    background-color: rgb(229, 239, 234);
}

#header{
/*    background-color: rgb(170, 63, 85);*/
   color: black;
  background-color: white;
}

#categories {
    margin: 10px;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: rgb(170, 63, 85);
}

#categories .row {
/* height: 220px;  */ 
}

#categories img, #liste img {
    padding: 5px;
/*    height: 220px;*/
}

#ingredients dt {
 text-align: left;   
}

#detail div {
    padding : 0px;
}
#detail div.content {
    padding : 10px;
}

.btn-primary {
  color: white;
  background-color: rgb(170, 63, 85);
  border-color: rgb(170, 63, 85);
}

.caption {
    text-align: center;
    text-transform: uppercase;
}
